.wrap {
  text-align: center;
  padding: 100px 20px 0;
}

.title {
  font: 400 20px var(--font-serif);
  color: var(--color-text-quinary);
  margin-bottom: 10px;
}

.detail {
  font: 13px var(--font-sans);
  line-height: 1.6;
  color: var(--color-text-tertiary);
  margin-bottom: 26px;
  word-break: keep-all;
}
